<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="FILE_LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="ALL_ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/all.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="all" level="INFO" additivity="false">
        <appender-ref ref="ALL_ROLLING_FILE"/>
    </logger>


    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>