<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="FILE_LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>